/* ===== General styles ===== */
*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "Poppins", sans-serif;
}

/* ===== Content Style ===== */

.container {
  width: 100vw;
  height: 100vh;
  background: url('./bg.jpg') no-repeat center/cover;
}

.clock {
  width: 80%;
  height: 100%;
  margin: 0 auto;
  color: goldenrod;
  align-content: center;
  text-align: center;
}

.clock span {
  font-size: 10rem;
  font-weight: 700;
  display: inline-block;
  width: 12rem;
  position: relative;
}

.clock span::after {
  font-size: 3rem;
  position: absolute;
  transform: translateX(-50%);
  bottom: -10%;
  left: 50%;
}

#hrs::after {
  content: 'HOURS';
}

#mins::after {
  content: 'MINS';
}

#secs::after {
  content: 'SECS';
}
#milsecs::after {
  content: 'MILLISECS';
}