* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.container {
  width: 100vw;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  background: linear-gradient(to bottom right, #080011, rgb(65, 1, 139));
}

.box {
  background: #fefefe;
  width: 32%;
  height: 70%;
  border-radius: 20px;
  border: 2px solid #080011;
  box-shadow: 2px 2px 40px rgb(164, 87, 252, 0.4);
  text-align: center;
}

.box h1 {
  font-size: 1.75rem;
  color: blueviolet;
  text-transform: uppercase;
  font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
  font-weight: 700;
  padding-block: 2rem;
  margin-top: 2rem;
}

.input-content {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 50%;
  gap: 1rem;
}

.input-content h4 {
  font-size: 1rem;
  font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}

p {
  height: 1rem;
  font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
  font-style: italic;
  font-size: small;
  color: red;
}

.chances {
  font-style: normal;
  font-weight: 600;
  font-size: 16px;
  color: red;
}

h6 {
  text-transform: uppercase;
  font-size: 1rem;
  color: green;
  font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

input {
  width: 70%;
  padding: 0.625rem;
  font-size: 1rem;
  border-radius: 5px;
  border: none;
  outline: none;
  box-shadow: 2px 2px 40px rgb(0, 0, 0, 0.2);
}

input:focus {
  outline: 2px solid blueviolet;
}

button {
  font-weight: 700;
  text-transform: uppercase;
  padding: 0.625rem 2rem;
  border: 0;
  border-radius: 5px;
  color: white;
  background-color: rgb(143, 45, 235);
}

button:hover {
  background-color: rgb(89, 29, 146);
  box-shadow: 2px 2px 40px rgb(0, 0, 0, 0.2);
  cursor: pointer;
}


