/* ===== General styles ===== */
*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "Poppins", sans-serif;
}

.container {
  width: 100vw;
  height: 100vh;
  text-align: center;
  align-content: center;
  background: url(./bg1.jpg) no-repeat center/cover; 
}

.box {
  width: 30%;
  height: 80%;
  margin: auto ;
  align-content: center;
  background: linear-gradient(to bottom right, rgb(255, 255, 255, 0.1), rgb(255, 255, 255, 0.1)  );
  border-radius: 10px;
  backdrop-filter: blur(10px);
  box-shadow: 2px 4px 40px rgba(0, 0, 0, 0.5) ;
}


.input-box {
  margin: auto;
  width: 80%;
  border-radius: 10px;
  color: #ffffff;
  border: 3px solid rgb(255, 255, 255, 0.5);
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-inline:10px;
}

.input-box i {
  font-size: 1.5rem;
  cursor: pointer;
}

.input-box i.color {
  color: green;
}

input {
  width: 90%;
  color: #ffffff;
  border: none;
  outline: none;
  padding: 1.125rem 0.5rem;
  font-size: 1rem;
  background: transparent;
}

input::placeholder {
  color: #ffffff;
}

.box p {
  width: 80%;
  margin-bottom: 3rem;
  margin-inline: auto;
  color: rgb(255, 255, 255, 0.7);
  font-style: italic;
}
